services:
  edge-mqtt:
    image: eclipse-mosquitto:2
    container_name: lab3-edge-mqtt
    volumes:
      - ./mosquitto-edge/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
    ports:
      - "1883:1883"
    networks:
      - factory-net

  cloud-mqtt:
    image: eclipse-mosquitto:2
    container_name: lab3-cloud-mqtt
    volumes:
      - ./mosquitto-cloud/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
    ports:
      - "1884:1883"
    networks:
      - factory-net

  nodered:
    image: nodered/node-red:latest
    container_name: lab3-nodered
    environment:
      - FLOWS=flows.json
    ports:
      - "1880:1880"
    volumes:
      - ./nodered:/data
    depends_on:
      - edge-mqtt
      - cloud-mqtt
    networks:
      - factory-net

  edge-sensor:
    build:
      context: ./edge-sensor
    container_name: lab3-edge-sensor
    environment:
      - MQTT_HOST=edge-mqtt
      - MQTT_PORT=1883
      - MQTT_TOPIC=factory/temperature
      - DEVICE_ID=sensor-1
      - INTERVAL_SECONDS=1
      - TEMP_MIN=55
      - TEMP_MAX=95
    depends_on:
      - edge-mqtt
    networks:
      - factory-net

  cloud-subscriber:
    image: eclipse-mosquitto:2
    container_name: lab3-cloud-subscriber
    command: ["sh", "-lc", "echo 'Subscribing to factory/alerts on cloud-mqtt...' && mosquitto_sub -h cloud-mqtt -t factory/alerts -v"]
    depends_on:
      - cloud-mqtt
    networks:
      - factory-net

networks:
  factory-net:
    name: factory-net

